.ui.attached.borderless.menu
  a.header.item(href="/")
    amp-img(src="/images/logo.png" alt="ゾラサーチ" height="25" width="150")

  a.item.computer.only(target="_blank" href="https://bungomail.com/")
    small by ブンゴウメール
  .item.computer.only ゾラサーチは、青空文庫の作品を読了時間で検索できるサービスです。
  .right.floated.menu
    a.item(href="/about")
      small
        i.fas.fa-question-circle
        | &nbsp;&nbsp;このサイトについて
if author && author['人物ID'] == 'all' && category.id == 'all'
  .ui.attached.mobile.only.segment 青空文庫の作品を読了時間で検索できるサービス
