.ui.attached.borderless.menu
  a.header.item(href="/")
    img.ui.small.image(src="/assets/logo_search-71273c203778db95c3d5caf1232d136c6183a4c2fb147c08c809f0094fb9743c.png")
  a.item.computer.only(target="_blank" href="https://bungomail.com/")
    small by ブンゴウメール
  .item.computer.only ゾラサーチは、青空文庫の作品を読了時間で検索できるサービスです。
  .right.floated.menu
    a.item(href="/about")
      small
        i.fas.fa-question-circle
        | &nbsp;&nbsp;このサイトについて
.ui.attached.mobile.only.segment 青空文庫の作品を読了時間で検索できるサービス
