meta(charset="UTF-8" content="text/html" http-equiv="Content-Type")
meta(content="width=device-width" initial-scale="1.0" maximum-scale="1.0" name="viewport")
link(href="/favicon.ico" rel="shortcut icon")
link(href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="128x128")
link(href="/apple-touch-icon-precomposed.png" rel="apple-touch-icon-precomposed" sizes="128x128")
title ゾラサーチ by ブンゴウメール | 青空文庫の作品を読了時間で検索できるサービス
meta(content="ゾラサーチは、青空文庫の作品を目安の読了時間で検索できるサービスです。" name="description")
meta(content="すべての著者,すべてで読める,,ゾラサーチ,読了時間,検索,青空文庫,無料,文学,古典,小説,ブンゴウメール,文豪,読書,毎日,毎月,継続,メール" name="keywords")
link(href="/" rel="canonical")
meta(content="ゾラサーチ" property="og:site_name")
meta(content="ゾラサーチ by ブンゴウメール | 青空文庫の作品を読了時間で検索できるサービス" property="og:title")
meta(content="website" property="og:type")
meta(content="/" property="og:url")
meta(content="ゾラサーチは、青空文庫の作品を目安の読了時間で検索できるサービスです。" property="og:description")
meta(content="ja_JP" property="og:locale")
meta(content="summary_large_image" name="twitter:card")
meta(content="@bungomail" name="twitter:site")
meta(content="ゾラサーチは、青空文庫の作品を目安の読了時間で検索できるサービスです。" name="twitter:description")
meta(content="https://bungomail.com/assets/images/ogp_search.png" property="og:image")
meta(content="https://bungomail.com/assets/images/ogp_search.png" name="twitter:image:src")

link(href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet")
link(rel="stylesheet" href="css/application.css")
