br
br
h4.ui.header
  i.far.fa-clock
  | &nbsp;&nbsp;読了時間
.ui.segment
  .ui.divided.very.relaxed.link.list
    a.item(href="/authors/all/categories/all/books")
      | すべて
      .right.floated.content
        small 14,815件
    a.item(href="/authors/all/categories/flash/books")
      | 5分以内
      .right.floated.content
        small 4,276件
    a.item(href="/authors/all/categories/shortshort/books")
      | 10分以内
      .right.floated.content
        small 2,467件
    a.item(href="/authors/all/categories/short/books")
      | 30分以内
      .right.floated.content
        small 4,162件
    a.item(href="/authors/all/categories/novelette/books")
      | 60分以内
      .right.floated.content
        small 2,221件
    a.item(href="/authors/all/categories/novel/books")
      | 1時間〜
      .right.floated.content
        small 1,689件
br
h4.ui.header
  i.far.fa-user
  | &nbsp;&nbsp;文豪
.ui.segment
  .ui.divided.very.relaxed.link.list
    a.item(href="/authors/148/categories/all/books") 夏目 漱石
    a.item(href="/authors/81/categories/all/books") 宮沢 賢治
    a.item(href="/authors/879/categories/all/books") 芥川 竜之介
    a.item(href="/authors/35/categories/all/books") 太宰 治
    a.item(href="/authors/119/categories/all/books") 中島 敦
    a.item(href="/authors/96/categories/all/books") 夢野 久作
    a.item(href="/authors/129/categories/all/books") 森 鴎外
    a.item(href="/authors/74/categories/all/books") 梶井 基次郎
    a.item(href="/authors/1095/categories/all/books") 坂口 安吾
    a.item(href="/authors/121/categories/all/books") 新美 南吉
    a.item(href="/authors/196/categories/all/books") 鴨 長明
    a.item(href="/authors/296/categories/all/books") 福沢 諭吉
    a.item(href="/authors/1091/categories/all/books") グリム ヴィルヘルム・カール
    a.item(href="/authors/156/categories/all/books") 小林 多喜二
    a.item(href="/authors/31/categories/all/books") 葉山 嘉樹
br
br
