/*! CSS Used from: https://search.bungomail.com/assets/application-ba40a9b2ea2162f622fb767eab55a92b0c1da02ba60ad9a25c03b43d47bde750.css ; media=all */
@media all{
*,:after,:before{-webkit-box-sizing:inherit;box-sizing:inherit;}
html{-webkit-box-sizing:border-box;box-sizing:border-box;}
input[type=text]{-webkit-appearance:none;-moz-appearance:none;}
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0;}
footer,nav{display:block;}
h1{font-size:2em;margin:.67em 0;}
a{background-color:transparent;-webkit-text-decoration-skip:objects;}
small{font-size:80%;}
img{border-style:none;}
button,input{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0;}
button,input{overflow:visible;}
button{text-transform:none;}
[type=submit],button{-webkit-appearance:button;}
[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0;}
[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText;}
body,html{height:100%;}
html{font-size:14px;}
body{margin:0;padding:0;overflow-x:hidden;min-width:320px;background:#fff;font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;font-size:14px;line-height:1.4285em;color:rgba(0,0,0,0.87);font-smoothing:antialiased;}
h1,h4,h5{font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;line-height:1.28571429em;margin:calc(2rem - .14285714em) 0 1rem;font-weight:700;padding:0;}
h1{min-height:1rem;font-size:2rem;}
h4{font-size:1.07142857rem;}
h5{font-size:1rem;}
h5:first-child{margin-top:0;}
p{margin:0 0 1em;line-height:1.4285em;}
a{color:#4183c4;text-decoration:none;}
a:hover{color:#1e70bf;text-decoration:none;}
::-webkit-selection{background-color:#cce2ff;color:rgba(0,0,0,0.87);}
::-moz-selection{background-color:#cce2ff;color:rgba(0,0,0,0.87);}
::selection{background-color:#cce2ff;color:rgba(0,0,0,0.87);}
input::-webkit-selection{background-color:rgba(100,100,100,0.4);color:rgba(0,0,0,0.87);}
input::-moz-selection{background-color:rgba(100,100,100,0.4);color:rgba(0,0,0,0.87);}
input::selection{background-color:rgba(100,100,100,0.4);color:rgba(0,0,0,0.87);}
body ::-webkit-scrollbar{-webkit-appearance:none;width:10px;height:10px;}
body ::-webkit-scrollbar-track{background:rgba(0,0,0,0.1);border-radius:0;}
body ::-webkit-scrollbar-thumb{cursor:pointer;border-radius:5px;background:rgba(0,0,0,0.25);-webkit-transition:color .2s ease;transition:color .2s ease;}
body ::-webkit-scrollbar-thumb:hover{background:rgba(128,135,139,0.8);}
body .ui.inverted::-webkit-scrollbar-track{background:rgba(255,255,255,0.1);}
body .ui.inverted::-webkit-scrollbar-thumb{background:rgba(255,255,255,0.25);}
body .ui.inverted::-webkit-scrollbar-thumb:hover{background:rgba(255,255,255,0.35);}
.ui.button{cursor:pointer;display:inline-block;min-height:1em;outline:0;border:none;vertical-align:baseline;background:#e0e1e2 none;color:rgba(0,0,0,0.6);font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;margin:0 .25em 0 0;padding:.78571429em 1.5em .78571429em;text-transform:none;text-shadow:none;font-weight:700;line-height:1em;font-style:normal;text-align:center;text-decoration:none;border-radius:.28571429rem;-webkit-box-shadow:0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,0.15) inset;box-shadow:0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,0.15) inset;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-transition:opacity .1s ease,background-color .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;transition:opacity .1s ease,background-color .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;transition:opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;transition:opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease,-webkit-box-shadow .1s ease;will-change:'';-webkit-tap-highlight-color:transparent;}
.ui.button:hover{background-color:#cacbcd;background-image:none;-webkit-box-shadow:0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,0.15) inset;box-shadow:0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,0.15) inset;color:rgba(0,0,0,0.8);}
.ui.button:hover .icon{opacity:.85;}
.ui.button:focus{background-color:#cacbcd;color:rgba(0,0,0,0.8);background-image:"";-webkit-box-shadow:"";box-shadow:"";}
.ui.button:focus .icon{opacity:.85;}
.ui.button:active{background-color:#babbbc;background-image:'';color:rgba(0,0,0,0.9);-webkit-box-shadow:0 0 0 1px transparent inset,none;box-shadow:0 0 0 1px transparent inset,none;}
.ui.button:disabled{cursor:default;opacity:0.45;background-image:none;-webkit-box-shadow:none;box-shadow:none;pointer-events:none;}
.ui.facebook.button{background-color:#3b5998;color:#fff;text-shadow:none;background-image:none;-webkit-box-shadow:0 0 0 0 rgba(34,36,38,0.15) inset;box-shadow:0 0 0 0 rgba(34,36,38,0.15) inset;}
.ui.facebook.button:hover{background-color:#304d8a;color:#fff;text-shadow:none;}
.ui.facebook.button:active{background-color:#2d4373;color:#fff;text-shadow:none;}
.ui.twitter.button{background-color:#55acee;color:#fff;text-shadow:none;background-image:none;-webkit-box-shadow:0 0 0 0 rgba(34,36,38,0.15) inset;box-shadow:0 0 0 0 rgba(34,36,38,0.15) inset;}
.ui.twitter.button:hover{background-color:#35a2f4;color:#fff;text-shadow:none;}
.ui.twitter.button:active{background-color:#2795e9;color:#fff;text-shadow:none;}
.ui.button>.icon:not(.button){height:.85714286em;opacity:.8;margin:0 .42857143em 0 -.21428571em;-webkit-transition:opacity .1s ease;transition:opacity .1s ease;vertical-align:'';color:'';}
.ui.button{font-size:1rem;}
.ui.icon.button{padding:.78571429em .78571429em .78571429em;}
.ui.icon.button>.icon{opacity:.9;margin:0;vertical-align:top;}
.ui.basic.button{background:transparent none;color:rgba(0,0,0,0.6);font-weight:400;border-radius:.28571429rem;text-transform:none;text-shadow:none;-webkit-box-shadow:0 0 0 1px rgba(34,36,38,0.15) inset;box-shadow:0 0 0 1px rgba(34,36,38,0.15) inset;}
.ui.basic.button:hover{background:#fff;color:rgba(0,0,0,0.8);-webkit-box-shadow:0 0 0 1px rgba(34,36,38,0.35) inset,0 0 0 0 rgba(34,36,38,0.15) inset;box-shadow:0 0 0 1px rgba(34,36,38,0.35) inset,0 0 0 0 rgba(34,36,38,0.15) inset;}
.ui.basic.button:focus{background:#fff;color:rgba(0,0,0,0.8);-webkit-box-shadow:0 0 0 1px rgba(34,36,38,0.35) inset,0 0 0 0 rgba(34,36,38,0.15) inset;box-shadow:0 0 0 1px rgba(34,36,38,0.35) inset,0 0 0 0 rgba(34,36,38,0.15) inset;}
.ui.basic.button:active{background:#f8f8f8;color:rgba(0,0,0,0.9);-webkit-box-shadow:0 0 0 1px rgba(0,0,0,0.15) inset,0 1px 4px 0 rgba(34,36,38,0.15) inset;box-shadow:0 0 0 1px rgba(0,0,0,0.15) inset,0 1px 4px 0 rgba(34,36,38,0.15) inset;}
.ui.circular.button{border-radius:10em;}
.ui.circular.button>.icon{width:1em;vertical-align:baseline;}
.ui.container{display:block;max-width:100%;}
@media only screen and (max-width: 767px){
.ui.container{width:auto;margin-left:1em;margin-right:1em;}
}
@media only screen and (min-width: 768px) and (max-width: 991px){
.ui.container{width:723px;margin-left:auto;margin-right:auto;}
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
.ui.container{width:933px;margin-left:auto;margin-right:auto;}
}
@media only screen and (min-width: 1200px){
.ui.container{width:1127px;margin-left:auto;margin-right:auto;}
}
.ui.divider{margin:1rem 0;line-height:1;height:0;font-weight:700;text-transform:uppercase;letter-spacing:.05em;color:rgba(0,0,0,0.85);-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:transparent;}
.ui.divider:not(.vertical):not(.horizontal){border-top:1px solid rgba(34,36,38,0.15);border-bottom:1px solid rgba(255,255,255,0.1);}
.ui.divider{font-size:1rem;}
.ui.header{border:none;margin:calc(2rem - .14285714em) 0 1rem;padding:0 0;font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;font-weight:700;line-height:1.28571429em;text-transform:none;color:rgba(0,0,0,0.87);}
.ui.header:first-child{margin-top:-.14285714em;}
.ui.header>.icon{display:table-cell;opacity:1;font-size:1.5em;padding-top:0;vertical-align:middle;}
.ui.header .icon:only-child{display:inline-block;padding:0;margin-right:.75rem;}
.ui.header+p{margin-top:0;}
h1.ui.header{font-size:2rem;}
h4.ui.header{font-size:1.07142857rem;}
h5.ui.header{font-size:1rem;}
.ui.large.header{font-size:1.71428571em;}
i.icon{display:inline-block;opacity:1;margin:0 .25rem 0 0;width:1.18em;height:1em;font-family:Icons;font-style:normal;font-weight:400;text-decoration:inherit;text-align:center;speak:none;font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;-webkit-backface-visibility:hidden;backface-visibility:hidden;}
i.icon:before{background:0 0;}
i.yellow.icon{color:#fbbd08;}
i.grey.icon{color:#767676;}
i.icon{font-size:1em;}
i.icon.angle.right:before{content:"\f105";}
i.icon.circle:before{content:"\f111";}
i.icon.clock:before{content:"\f017";}
i.icon.facebook:before{content:"\f09a";}
i.icon.facebook.f:before{content:"\f39e";}
i.icon.question:before{content:"\f128";}
i.icon.question.circle:before{content:"\f059";}
i.icon.search:before{content:"\f002";}
i.icon.star:before{content:"\f005";}
i.icon.twitter:before{content:"\f099";}
i.icon.user:before{content:"\f007";}
i.icon.close:before{content:"\f00d";}
i.icon.outline{font-family:outline-icons;}
i.icon.clock.outline:before{content:"\f017";}
i.icon.star.outline:before{content:"\f005";}
i.icon.user.outline:before{content:"\f007";}
i.icon.facebook,i.icon.facebook.f,i.icon.twitter{font-family:brand-icons;}
.ui.image{position:relative;display:inline-block;vertical-align:middle;max-width:100%;background-color:transparent;}
img.ui.image{display:block;}
.ui.small.image{width:150px;height:auto;font-size:.92857143rem;}
.ui.input{position:relative;font-weight:400;font-style:normal;display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;color:rgba(0,0,0,0.87);}
.ui.input>input{margin:0;max-width:100%;-webkit-box-flex:1;-ms-flex:1 0 auto;flex:1 0 auto;outline:0;-webkit-tap-highlight-color:rgba(255,255,255,0);text-align:left;line-height:1.21428571em;font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;padding:.67857143em 1em;background:#fff;border:1px solid rgba(34,36,38,0.15);color:rgba(0,0,0,0.87);border-radius:.28571429rem;-webkit-transition:border-color .1s ease,-webkit-box-shadow .1s ease;transition:border-color .1s ease,-webkit-box-shadow .1s ease;transition:box-shadow .1s ease,border-color .1s ease;transition:box-shadow .1s ease,border-color .1s ease,-webkit-box-shadow .1s ease;-webkit-box-shadow:none;box-shadow:none;}
.ui.input>input::-webkit-input-placeholder{color:rgba(191,191,191,0.87);}
.ui.input>input::-moz-placeholder{color:rgba(191,191,191,0.87);}
.ui.input>input:-ms-input-placeholder{color:rgba(191,191,191,0.87);}
.ui.input>input:active{border-color:rgba(0,0,0,0.3);background:#fafafa;color:rgba(0,0,0,0.87);-webkit-box-shadow:none;box-shadow:none;}
.ui.input>input:focus{border-color:#85b7d9;background:#fff;color:rgba(0,0,0,0.8);-webkit-box-shadow:none;box-shadow:none;}
.ui.input>input:focus::-webkit-input-placeholder{color:rgba(115,115,115,0.87);}
.ui.input>input:focus::-moz-placeholder{color:rgba(115,115,115,0.87);}
.ui.input>input:focus:-ms-input-placeholder{color:rgba(115,115,115,0.87);}
.ui.transparent.input>input{border-color:transparent;background-color:transparent;padding:0;-webkit-box-shadow:none;box-shadow:none;border-radius:0;}
.ui.transparent.icon.input>i.icon{width:1.1em;}
.ui.transparent.icon.input>input{padding-left:0;padding-right:2em;}
.ui.transparent[class*="left icon"].input>input{padding-left:2em;padding-right:0;}
.ui.icon.input>i.icon{cursor:default;position:absolute;line-height:1;text-align:center;top:0;right:0;margin:0;height:100%;width:2.67142857em;opacity:.5;border-radius:0 .28571429rem .28571429rem 0;-webkit-transition:opacity .3s ease;transition:opacity .3s ease;}
.ui.icon.input>i.icon:not(.link){pointer-events:none;}
.ui.icon.input>input{padding-right:2.67142857em;}
.ui.icon.input>i.icon:after,.ui.icon.input>i.icon:before{left:0;position:absolute;text-align:center;top:50%;width:100%;margin-top:-.5em;}
.ui[class*="left icon"].input>i.icon{right:auto;left:1px;border-radius:.28571429rem 0 0 .28571429rem;}
.ui[class*="left icon"].input>input{padding-left:2.67142857em;padding-right:1em;}
.ui.fluid.input{display:-webkit-box;display:-ms-flexbox;display:flex;}
.ui.fluid.input>input{width:0;}
.ui.input{font-size:1em;}
.ui.label{display:inline-block;line-height:1;vertical-align:baseline;margin:0 .14285714em;background-color:#e8e8e8;background-image:none;padding:.5833em .833em;color:rgba(0,0,0,0.6);text-transform:none;font-weight:700;border:0 solid transparent;border-radius:.28571429rem;-webkit-transition:background .1s ease;transition:background .1s ease;}
.ui.label:first-child{margin-left:0;}
.ui.label:last-child{margin-right:0;}
.ui.orange.label{background-color:#f2711c;border-color:#f2711c;color:#fff;}
.ui.basic.orange.label{background:none #fff;color:#f2711c;border-color:#f2711c;}
.ui.green.label{background-color:#21ba45;border-color:#21ba45;color:#fff;}
.ui.basic.green.label{background:none #fff;color:#21ba45;border-color:#21ba45;}
.ui.blue.label{background-color:#2185d0;border-color:#2185d0;color:#fff;}
.ui.basic.blue.label{background:none #fff;color:#2185d0;border-color:#2185d0;}
.ui.pink.label{background-color:#e03997;border-color:#e03997;color:#fff;}
.ui.basic.pink.label{background:none #fff;color:#e03997;border-color:#e03997;}
.ui.basic.label{background:none #fff;border:1px solid rgba(34,36,38,0.15);color:rgba(0,0,0,0.87);-webkit-box-shadow:none;box-shadow:none;}
.ui.mini.label{font-size:.64285714rem;}
.ui.label{font-size:.85714286rem;}
.ui.list{list-style-type:none;margin:1em 0;padding:0 0;}
.ui.list:first-child{margin-top:0;padding-top:0;}
.ui.list:last-child{margin-bottom:0;padding-bottom:0;}
.ui.list>.item{display:list-item;table-layout:fixed;list-style-type:none;list-style-position:outside;padding:.21428571em 0;line-height:1.14285714em;}
.ui.list>.item:after{content:'';display:block;height:0;clear:both;visibility:hidden;}
.ui.list>.item:first-child{padding-top:0;}
.ui.list>.item:last-child{padding-bottom:0;}
.ui.list>.item>.content{line-height:1.14285714em;}
.ui.list>.item a{cursor:pointer;}
.ui.list>a.item{cursor:pointer;color:#4183c4;}
.ui.list>a.item:hover{color:#1e70bf;}
.ui.list>.item [class*="right floated"]{float:right;margin:0 0 0 1em;}
.ui.horizontal.list{display:inline-block;font-size:0;}
.ui.horizontal.list>.item{display:inline-block;margin-left:1em;font-size:1rem;}
.ui.horizontal.list:not(.celled)>.item:first-child{margin-left:0;padding-left:0;}
.ui.horizontal.list>.item>.icon{vertical-align:middle;}
.ui.horizontal.list>.item:first-child,.ui.horizontal.list>.item:last-child{padding-top:.21428571em;padding-bottom:.21428571em;}
.ui.horizontal.list>.item>.icon{float:none;display:inline-block;}
.ui.link.list .item,.ui.link.list a.item{color:rgba(0,0,0,0.4);-webkit-transition:.1s color ease;transition:.1s color ease;}
.ui.link.list.list a.item:hover{color:rgba(0,0,0,0.8);}
.ui.link.list.list a.item:active{color:rgba(0,0,0,0.9);}
.ui.divided.list>.item{border-top:1px solid rgba(34,36,38,0.15);}
.ui.divided.list>.item:first-child{border-top:none;}
.ui.relaxed.list:not(.horizontal)>.item:not(:first-child){padding-top:.42857143em;}
.ui.relaxed.list:not(.horizontal)>.item:not(:last-child){padding-bottom:.42857143em;}
.ui[class*="very relaxed"].list:not(.horizontal)>.item:not(:first-child){padding-top:.85714286em;}
.ui[class*="very relaxed"].list:not(.horizontal)>.item:not(:last-child){padding-bottom:.85714286em;}
.ui.list{font-size:1em;}
.ui.horizontal.list>.item{font-size:1rem;}
.ui.segment{position:relative;background:#fff;-webkit-box-shadow:0 1px 2px 0 rgba(34,36,38,0.15);box-shadow:0 1px 2px 0 rgba(34,36,38,0.15);margin:1rem 0;padding:1em 1em;border-radius:.28571429rem;border:1px solid rgba(34,36,38,0.15);}
.ui.segment:last-child{margin-bottom:0;}
.ui.inverted.segment>.ui.header{color:#fff;}
.ui.basic.segment{background:none transparent;-webkit-box-shadow:none;box-shadow:none;border:none;border-radius:0;}
.ui[class*="center aligned"].segment{text-align:center;}
.ui.inverted.segment{border:none;-webkit-box-shadow:none;box-shadow:none;}
.ui.inverted.segment{background:#1b1c1d;color:rgba(255,255,255,0.9);}
.ui.segment{font-size:1rem;}
.ui.breadcrumb{line-height:1;display:inline-block;margin:0 0;vertical-align:middle;}
.ui.breadcrumb:first-child{margin-top:0;}
.ui.breadcrumb:last-child{margin-bottom:0;}
.ui.breadcrumb .divider{display:inline-block;opacity:.7;margin:0 .21428571rem 0;font-size:.92857143em;color:rgba(0,0,0,0.4);vertical-align:baseline;}
.ui.breadcrumb a{color:#4183c4;}
.ui.breadcrumb a:hover{color:#1e70bf;}
.ui.breadcrumb .icon.divider{font-size:.85714286em;vertical-align:baseline;}
.ui.breadcrumb .section{display:inline-block;margin:0;padding:0;}
.ui.small.breadcrumb{font-size:.92857143rem;}
.ui.breadcrumb{font-size:1rem;}
.ui.form{position:relative;max-width:100%;}
.ui.form input[type=text]{width:100%;vertical-align:top;}
.ui.form input[type=text]{font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;margin:0;outline:0;-webkit-appearance:none;tap-highlight-color:rgba(255,255,255,0);line-height:1.21428571em;padding:.67857143em 1em;font-size:1em;background:#fff;border:1px solid rgba(34,36,38,0.15);color:rgba(0,0,0,0.87);border-radius:.28571429rem;-webkit-box-shadow:0 0 0 0 transparent inset;box-shadow:0 0 0 0 transparent inset;-webkit-transition:color .1s ease,border-color .1s ease;transition:color .1s ease,border-color .1s ease;}
.ui.form ::-webkit-input-placeholder{color:rgba(191,191,191,0.87);}
.ui.form :-ms-input-placeholder{color:rgba(191,191,191,0.87);}
.ui.form ::-moz-placeholder{color:rgba(191,191,191,0.87);}
.ui.form :focus::-webkit-input-placeholder{color:rgba(115,115,115,0.87);}
.ui.form :focus:-ms-input-placeholder{color:rgba(115,115,115,0.87);}
.ui.form :focus::-moz-placeholder{color:rgba(115,115,115,0.87);}
.ui.form input[type=text]:focus{color:rgba(0,0,0,0.95);border-color:#85b7d9;border-radius:.28571429rem;background:#fff;-webkit-box-shadow:0 0 0 0 rgba(34,36,38,0.35) inset;box-shadow:0 0 0 0 rgba(34,36,38,0.35) inset;}
.ui.form{font-size:1rem;}
.ui.grid{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch;padding:0;}
.ui.grid{margin-top:-1rem;margin-bottom:-1rem;margin-left:-1rem;margin-right:-1rem;}
.ui.grid>.column:not(.row){position:relative;display:inline-block;width:6.25%;padding-left:1rem;padding-right:1rem;vertical-align:top;}
.ui.grid>*{padding-left:1rem;padding-right:1rem;}
.ui.grid>.column:not(.row){padding-top:1rem;padding-bottom:1rem;}
.ui.grid>[class*="three wide"].column{width:18.75%;}
.ui.grid>[class*="thirteen wide"].column{width:81.25%;}
@media only screen and (max-width: 767px){
.ui.stackable.grid{width:auto;margin-left:0;margin-right:0;}
.ui.stackable.grid>.column:not(.row),.ui.stackable.grid>.wide.column{width:100%;margin:0 0;-webkit-box-shadow:none;box-shadow:none;padding:1rem 1rem;}
.ui.container>.ui.stackable.grid>.column{padding-left:0;padding-right:0;}
}
.ui.menu{display:-webkit-box;display:-ms-flexbox;display:flex;margin:1rem 0;font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;background:#fff;font-weight:400;border:1px solid rgba(34,36,38,0.15);-webkit-box-shadow:0 1px 2px 0 rgba(34,36,38,0.15);box-shadow:0 1px 2px 0 rgba(34,36,38,0.15);border-radius:.28571429rem;min-height:2.85714286em;}
.ui.menu:after{content:'';display:block;height:0;clear:both;visibility:hidden;}
.ui.menu:first-child{margin-top:0;}
.ui.menu:last-child{margin-bottom:0;}
.ui.menu .menu{margin:0;}
.ui.menu:not(.vertical)>.menu{display:-webkit-box;display:-ms-flexbox;display:flex;}
.ui.menu:not(.vertical) .item{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.ui.menu .item{position:relative;vertical-align:middle;line-height:1;text-decoration:none;-webkit-tap-highlight-color:transparent;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background:0 0;padding:.92857143em 1.14285714em;text-transform:none;color:rgba(0,0,0,0.87);font-weight:400;-webkit-transition:background .1s ease,color .1s ease,-webkit-box-shadow .1s ease;transition:background .1s ease,color .1s ease,-webkit-box-shadow .1s ease;transition:background .1s ease,box-shadow .1s ease,color .1s ease;transition:background .1s ease,box-shadow .1s ease,color .1s ease,-webkit-box-shadow .1s ease;}
.ui.menu>.item:first-child{border-radius:.28571429rem 0 0 .28571429rem;}
.ui.menu .item:before{position:absolute;content:'';top:0;right:0;height:100%;width:1px;background:rgba(34,36,38,0.1);}
.ui.menu .item>i.icon{opacity:.9;float:none;margin:0 .35714286em 0 0;}
.ui.menu .header.item{margin:0;background:'';text-transform:normal;font-weight:700;}
.ui.menu a.item:hover{cursor:pointer;background:rgba(0,0,0,0.03);color:rgba(0,0,0,0.95);}
.ui.menu a.item:active{background:rgba(0,0,0,0.03);color:rgba(0,0,0,0.95);}
.ui.menu .active.item{background:rgba(0,0,0,0.05);color:rgba(0,0,0,0.95);font-weight:400;-webkit-box-shadow:none;box-shadow:none;}
.ui.menu .active.item:hover{background-color:rgba(0,0,0,0.05);color:rgba(0,0,0,0.95);}
.ui.menu:not(.vertical) .right.menu{display:-webkit-box;display:-ms-flexbox;display:flex;margin-left:auto;}
.ui.menu .right.menu>.item::before{right:auto;left:0;}
.ui.pagination.menu{margin:0;display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;vertical-align:middle;}
.ui.pagination.menu .item:last-child{border-radius:0 .28571429rem .28571429rem 0;}
.ui.pagination.menu .item:last-child:before{display:none;}
.ui.pagination.menu .item{min-width:3em;text-align:center;}
.ui.pagination.menu .active.item{border-top:none;padding-top:.92857143em;background-color:rgba(0,0,0,0.05);color:rgba(0,0,0,0.95);-webkit-box-shadow:none;box-shadow:none;}
.ui.secondary.menu{background:0 0;margin-left:-.35714286em;margin-right:-.35714286em;border-radius:0;border:none;-webkit-box-shadow:none;box-shadow:none;}
.ui.secondary.menu .item{-ms-flex-item-align:center;align-self:center;-webkit-box-shadow:none;box-shadow:none;border:none;padding:.78571429em .92857143em;margin:0 .35714286em;background:0 0;-webkit-transition:color .1s ease;transition:color .1s ease;border-radius:.28571429rem;}
.ui.secondary.menu .item:before{display:none;}
.ui.secondary.menu a.item:hover{background:rgba(0,0,0,0.05);color:rgba(0,0,0,0.95);}
.ui.secondary.menu .active.item{-webkit-box-shadow:none;box-shadow:none;background:rgba(0,0,0,0.05);color:rgba(0,0,0,0.95);border-radius:.28571429rem;}
.ui.secondary.menu .active.item:hover{-webkit-box-shadow:none;box-shadow:none;background:rgba(0,0,0,0.05);color:rgba(0,0,0,0.95);}
.ui.borderless.menu .item:before{background:0 0;}
.ui.attached.menu{top:0;bottom:0;border-radius:0;margin:0 -1px;width:calc(100% + 2px);max-width:calc(100% + 2px);-webkit-box-shadow:none;box-shadow:none;}
.ui.attached.menu:not(.tabular){border:1px solid #d4d4d5;}
.ui.tiny.menu{font-size:.85714286rem;}
.ui.menu{font-size:1rem;}
.ui.table{width:100%;background:#fff;margin:1em 0;border:1px solid rgba(34,36,38,0.15);-webkit-box-shadow:none;box-shadow:none;border-radius:.28571429rem;text-align:left;color:rgba(0,0,0,0.87);border-collapse:separate;border-spacing:0;}
.ui.table td,.ui.table th{-webkit-transition:background .1s ease,color .1s ease;transition:background .1s ease,color .1s ease;}
.ui.table thead{-webkit-box-shadow:none;box-shadow:none;}
.ui.table thead th{cursor:auto;background:#f9fafb;text-align:inherit;color:rgba(0,0,0,0.87);padding:.92857143em .78571429em;vertical-align:inherit;font-style:none;font-weight:700;text-transform:none;border-bottom:1px solid rgba(34,36,38,0.1);border-left:none;}
.ui.table thead tr>th:first-child{border-left:none;}
.ui.table thead tr:first-child>th:first-child{border-radius:.28571429rem 0 0 0;}
.ui.table thead tr:first-child>th:last-child{border-radius:0 .28571429rem 0 0;}
.ui.table tr td{border-top:1px solid rgba(34,36,38,0.1);}
.ui.table tr:first-child td{border-top:none;}
.ui.table td{padding:.78571429em .78571429em;text-align:inherit;}
.ui.fixed.table{table-layout:fixed;}
.ui.fixed.table td,.ui.fixed.table th{overflow:hidden;text-overflow:ellipsis;}
.ui.striped.table tbody tr:nth-child(2n){background-color:rgba(0,0,50,0.02);}
.ui.table th.two.wide{width:12.5%;}
.ui.table th.four.wide{width:25%;}
.ui.table th.five.wide{width:31.25%;}
.ui.table th.six.wide{width:37.5%;}
.ui.table th.nine.wide{width:56.25%;}
.ui.table{font-size:1em;}
footer{padding:50px 10px;}
#breadcrumb{margin:1rem 0;}
.ui.header>.icon{display:inline-block;}
footer.ui.segment{color:rgba(255,255,255,0.6);margin-bottom:0;}
footer a{color:#fff;}
.ui.transparent.button{box-shadow:none;}
.right.floated{float:right;}
@media only screen and (max-width: 767px){
.computer.only{display:none;}
.scrolling{flex-wrap:nowrap;overflow-x:scroll;-webkit-overflow-scrolling:touch;overflow-scrolling:touch;}
.scrolling::-webkit-scrollbar{display:none;}
}
@media only screen and (min-width: 768px){
body{height:auto;}
.mobile.only{display:none;}
}
}
/*! CSS Used fontfaces */
@font-face{font-family:'Lato';font-style:italic;font-weight:400;src:local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v16/S6u8w4BMUTPHjxsAUi-qNiXg7eU0.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Lato';font-style:italic;font-weight:400;src:local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v16/S6u8w4BMUTPHjxsAXC-qNiXg7Q.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Lato';font-style:italic;font-weight:700;src:local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v16/S6u_w4BMUTPHjxsI5wq_FQftx9897sxZ.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Lato';font-style:italic;font-weight:700;src:local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v16/S6u_w4BMUTPHjxsI5wq_Gwftx9897g.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Lato';font-style:normal;font-weight:400;src:local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Lato';font-style:normal;font-weight:400;src:local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Lato';font-style:normal;font-weight:700;src:local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Lato';font-style:normal;font-weight:700;src:local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}



.ui.card,.ui.cards>.card{max-width:100%;position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;width:290px;min-height:0;background:#fff;padding:0;border:none;border-radius:.28571429rem;-webkit-box-shadow:0 1px 3px 0 #d4d4d5,0 0 0 1px #d4d4d5;box-shadow:0 1px 3px 0 #d4d4d5,0 0 0 1px #d4d4d5;-webkit-transition:-webkit-box-shadow .1s ease,-webkit-transform .1s ease;transition:-webkit-box-shadow .1s ease,-webkit-transform .1s ease;transition:box-shadow .1s ease,transform .1s ease;transition:box-shadow .1s ease,transform .1s ease,-webkit-box-shadow .1s ease,-webkit-transform .1s ease;z-index:'';}
.ui.card{margin:1em 0;}
.ui.card:first-child{margin-top:0;}
.ui.card:last-child{margin-bottom:0;}
.ui.cards{display:-webkit-box;display:-ms-flexbox;display:flex;margin:-.875em -.5em;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.ui.cards>.card{display:-webkit-box;display:-ms-flexbox;display:flex;margin:.875em .5em;float:none;}
.ui.card:after,.ui.cards:after{display:block;content:' ';height:0;clear:both;overflow:hidden;visibility:hidden;}
.ui.cards ~ .ui.cards{margin-top:.875em;}
.ui.card>:first-child,.ui.cards>.card>:first-child{border-radius:0.28571429rem 0.28571429rem 0 0;border-top:none;}
.ui.card>:last-child,.ui.cards>.card>:last-child{border-radius:0 0 0.28571429rem 0.28571429rem;}
.ui.card>.content,.ui.cards>.card>.content{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;border:none;border-top:1px solid rgba(34,36,38,0.1);background:0 0;margin:0;padding:1em 1em;-webkit-box-shadow:none;box-shadow:none;font-size:1em;border-radius:0;}
.ui.card>.content:after,.ui.cards>.card>.content:after{display:block;content:' ';height:0;clear:both;overflow:hidden;visibility:hidden;}
.ui.card>.content>.header,.ui.cards>.card>.content>.header{display:block;margin:'';font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;color:rgba(0,0,0,0.85);}
.ui.card>.content>.header:not(.ui),.ui.cards>.card>.content>.header:not(.ui){font-weight:700;font-size:1.28571429em;margin-top:-.21425em;line-height:1.28571429em;}
.ui.card>.content>.meta+.description,.ui.cards>.card>.content>.meta+.description{margin-top:.5em;}
.ui.card [class*="right floated"],.ui.cards>.card [class*="right floated"]{float:right;}
.ui.card>.content>.description,.ui.cards>.card>.content>.description{clear:both;color:rgba(0,0,0,0.68);}
.ui.card .meta,.ui.cards>.card .meta{font-size:1em;color:rgba(0,0,0,0.4);}
.ui.card>.content .star.icon,.ui.cards>.card>.content .star.icon{cursor:pointer;opacity:.75;-webkit-transition:color .1s ease;transition:color .1s ease;}
.ui.card>.content .star.icon:hover,.ui.cards>.card>.content .star.icon:hover{opacity:1;color:#ffb70a;}
.ui.card>.extra,.ui.cards>.card>.extra{max-width:100%;min-height:0;-webkit-box-flex:0;-ms-flex-positive:0;flex-grow:0;border-top:1px solid rgba(0,0,0,0.05);position:static;background:0 0;width:auto;margin:0 0;padding:.75em 1em;top:0;left:0;color:rgba(0,0,0,0.4);-webkit-box-shadow:none;box-shadow:none;-webkit-transition:color .1s ease;transition:color .1s ease;}
.ui.cards a.card,a.ui.card{-webkit-transform:none;transform:none;}
.ui.cards a.card:hover,a.ui.card:hover{cursor:pointer;z-index:5;background:#fff;border:none;-webkit-box-shadow:0 1px 3px 0 #bcbdbd,0 0 0 1px #d4d4d5;box-shadow:0 1px 3px 0 #bcbdbd,0 0 0 1px #d4d4d5;-webkit-transform:translateY(-3px);transform:translateY(-3px);}
.ui.four.cards{margin-left:-.75em;margin-right:-.75em;}
.ui.four.cards>.card{width:calc(25% - 1.5em);margin-left:.75em;margin-right:.75em;}
.ui.cards>.card{font-size:1em;}
footer{padding:50px 10px;}
.ui.header>.icon{display:inline-block;}
footer.ui.segment{color:rgba(255,255,255,0.6);margin-bottom:0;}
footer a{color:#fff;}
.right.floated{float:right;}
#breadcrumb{margin:1rem 0;}
@media only screen and (max-width: 767px){
.computer.only{display:none;}
.scrolling{flex-wrap:nowrap;overflow-x:scroll;-webkit-overflow-scrolling:touch;overflow-scrolling:touch;}
.scrolling::-webkit-scrollbar{display:none;}
.scrolling>.ui.card{flex:0 0 60%;}
}
.sub.header{margin-top:15px;}
.ui.header .sub.header{display:block;font-weight:400;padding:0;margin:0;font-size:1rem;line-height:1.2em;color:rgba(0,0,0,0.6);}
h1.ui.header .sub.header{font-size:1.14285714rem;}
.ui.large.header .sub.header{font-size:1.14285714rem;}
.ui.header .sub.header{font-size:1rem;}
.ui.definition.table tr td:first-child:not(.ignored){background:rgba(0,0,0,0.03);font-weight:700;color:rgba(0,0,0,0.95);text-transform:'';-webkit-box-shadow:'';box-shadow:'';text-align:'';font-size:1em;padding-left:'';padding-right:'';}
.ui.definition.table td:nth-child(2){border-left:1px solid rgba(34,36,38,0.15);}
.ui.fixed.table{table-layout:fixed;}
.ui.fixed.table td{overflow:hidden;text-overflow:ellipsis;}
.ui.table td.three.wide{width:18.75%;}
.ui.table td.thirteen.wide{width:81.25%;}

.ui.message{position:relative;min-height:1em;margin:1em 0;background:#f8f8f9;padding:1em 1.5em;line-height:1.4285em;color:rgba(0,0,0,0.87);-webkit-transition:opacity .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;transition:opacity .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;transition:opacity .1s ease,color .1s ease,background .1s ease,box-shadow .1s ease;transition:opacity .1s ease,color .1s ease,background .1s ease,box-shadow .1s ease,-webkit-box-shadow .1s ease;border-radius:.28571429rem;-webkit-box-shadow:0 0 0 1px rgba(34,36,38,0.22) inset,0 0 0 0 transparent;box-shadow:0 0 0 1px rgba(34,36,38,0.22) inset,0 0 0 0 transparent;}
.ui.warning.message{background-color:#fffaf3;color:#573a08;}
.ui.warning.message{-webkit-box-shadow:0 0 0 1px #c9ba9b inset,0 0 0 0 transparent;box-shadow:0 0 0 1px #c9ba9b inset,0 0 0 0 transparent;}
.ui.message{font-size:1em;}

.ui.action.input>.button{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;}
.ui.action.input>.button{padding-top:.78571429em;padding-bottom:.78571429em;margin:0;}
.ui.action.input:not([class*="left action"])>input{border-top-right-radius:0;border-bottom-right-radius:0;border-right-color:transparent;}
.ui.action.input:not([class*="left action"])>.button:not(:first-child){border-radius:0;}
.ui.action.input:not([class*="left action"])>.button:last-child{border-radius:0 .28571429rem .28571429rem 0;}
.ui.action.input:not([class*="left action"])>input:focus{border-right-color:#85b7d9;}
.ui.fluid.input{display:-webkit-box;display:-ms-flexbox;display:flex;}
.ui.fluid.input>input{width:0;}
.ui.input{font-size:1em;}
.ui.segment{position:relative;background:#fff;-webkit-box-shadow:0 1px 2px 0 rgba(34,36,38,0.15);box-shadow:0 1px 2px 0 rgba(34,36,38,0.15);margin:1rem 0;padding:1em 1em;border-radius:.28571429rem;border:1px solid rgba(34,36,38,0.15);}
.ui.secondary.segment{background:#f3f4f5;color:rgba(0,0,0,0.6);}

.ui.primary.button{background-color:#2185d0;color:#fff;text-shadow:none;background-image:none;}
.ui.primary.button{-webkit-box-shadow:0 0 0 0 rgba(34,36,38,0.15) inset;box-shadow:0 0 0 0 rgba(34,36,38,0.15) inset;}
.ui.primary.button:hover{background-color:#1678c2;color:#fff;text-shadow:none;}
.ui.primary.button:focus{background-color:#0d71bb;color:#fff;text-shadow:none;}
.ui.primary.button:active{background-color:#1a69a4;color:#fff;text-shadow:none;}
.ui.blue.basic.button { -webkit-box-shadow: 0 0 0 1px #2185d0 inset; box-shadow: 0 0 0 1px #2185d0 inset; color: #2185d0; }

/* カスタム */
.ui.form .transparent input[type=text] { border: none; }
.ui.attached:not(.message)+.ui.attached.segment:not(.top) { border-top: none; box-shadow: none; margin: 0; }
i.gray { color: #767676; opacity: .9; margin: auto; }
i.yellow { color: #fbbd08; }
i.fab { width: 1rem; }
@media only screen and (max-width: 767px) {
  .ui.menu:not(.vertical) .item.computer.only { display: none; }
}
section, footer.ui.segment { padding: 50px 10px; }
footer .ui.list>a.item { color: #fff; }
